  <div class="page-wrapper with-navbar">
    <nav class="navbar">
      {% set navPages = collections.all | eleventyNavigation %}
      <!-- Navbar brand -->
      <a href="/" class="navbar-brand">
        <img src="https://cdn.riverside.rocks/a/venus-fur-giganotosaurus.png" alt="logo">
      </a>
      <ul class="navbar-nav d-none d-md-flex"> <!-- d-none = display: none, d-md-flex = display: flex on medium screens and up (width > 768px) -->
      {%- for entry in navPages %}
        <li class="nav-item active">
          <a href="{{ entry.url | url }}" class="nav-link">{{ entry.title }}</a>
        </li>
       {%- endfor %}
      </ul>
      <!-- Navbar form (inline form) -->
          </div>
        </div>
      </div>
    </nav>
    
